<a id="return-to-top" href="javascript:" class="btn btn-light btn-lg back-to-top" role="button">
	<i class="fas fa-chevron-up border-0"></i>
</a>

<script>	
	// ===== Scroll to Top ==== 
$(window).scroll(function() {
    if ($(this).scrollTop() >= 50) {        // If page is scrolled more than 50px
        $('#return-to-top').fadeIn(200);    // Fade in the arrow
    } else {
        $('#return-to-top').fadeOut(200);   // Else fade out the arrow
    }
});
$('#return-to-top').click(function() {      // When arrow is clicked
    $('body,html').animate({
        scrollTop : 0                       // Scroll to top of body
    }, 500);
});
</script>


<footer class="text-muted">
<div class="container text-center">
	<img src="https://img.icons8.com/color/70/000000/camping-tent.png" />
	<p class="mb-2">
		Trademark YelpCamp 2020&trade;. All Rights Reserved.&copy;
	</p>
    <p class="mb-0">This Yelpcamp version is created by Priyanshu Singh.</p>
    <p  class="mb-0" >For the source code, visit my github profile 
		<a href="https://github.com/reveurguy/YelpCamp">
		<img src="https://img.icons8.com/windows/50/000000/github.png"/>
		</a>
	</p>
</div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

<script src="https://unpkg.com/scrollreveal"></script>
<script>
  // ScrollReveal().reveal('.jumbotron-text', { duration: 2000 });
  ScrollReveal().reveal('.indexCards', {
    interval: 150, mobile: true, viewFactor: 0.3
  });
	</script>

<script>
    if (window.location.pathname === "/campgrounds") {
      document.title = "YelpCamp";
      document.getElementById("home").classList.toggle("active");
    } else if (window.location.pathname === "/login") {
      document.title = "Login";
      document.getElementById("login").classList.toggle("active");
    } else if (window.location.pathname === "/register") {
      document.title = "Sign Up";
      document.getElementById("register").classList.toggle("active");
    } else if (window.location.pathname == "/campgrounds/new") {
      document.title = "Add Campground"
      document.getElementById("newCampground").classList.toggle("active");
    } else if (window.location.pathname == "/about") {
      document.title = "About"
      document.getElementById("about").classList.toggle("active");
    }
</script>


    </body>
</html>







